/* ヘッダー */
.top-page-header {
  width: 100vw;
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(12, 155, 238, 0.185);
  z-index: 10;
}

.title {
  font-family: 'Comic Sans MS';
  font-size: 50px;
  margin: 10px 10px 10px 50px;
}

.navi {
  width: 400px;
  display: flex;
  justify-content: space-around;
  margin-right: 50px;
  font-size: 22px;
}

.top-title {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.931);
  filter: drop-shadow(0 0 5px rgb(68, 67, 67));
}

.login, .sign-up, .log-out, .user-nickname, .guest {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.931);
  filter: drop-shadow(0 0 5px rgb(68, 67, 67));
}

