/* メイン */
.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  background-image: url("../image-2.jpg");
  background-size: cover;
  flex-direction: column;
  align-items: center;
  filter: contrast(100%);
}

.new-btn {
  margin-left: 30px;
  margin-top: 10px;
}

/* ツールバー */
.tool-bar {
  width: 100%;
  height: 100px;
  font-size: 22px;
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
}

.new-content {
  text-decoration: none;
  color: black;
  padding: 20px;
}

.nickname {
  font-size: 30px;
  margin-right: 60px;
  color: rgb(46, 44, 44);
}

/* 一覧表示 */
.item-contents {
  width: 900px;
  height: 500px;
  background-color: rgba(248, 240, 225, 0.424);
  filter: drop-shadow(0 0 15px rgb(102, 101, 101));
  overflow: scroll;
  border-radius: 1%;
}

.list {
  width: 800px;
  height: 53px;
  font-size: 20px;
  border: 2px solid rgba(150, 146, 146, 0.924);
  border-radius: 3%;
  background-color: white;
  margin: 15px 48px;
}

.f-title {
  text-decoration: none;
  color: black;
}

.list-up{
  display: flex;
  justify-content: space-around;
  padding: 3px;
}

.list-a {
  padding-right: 25px;
}

.list-down{
  padding: 3px;
}

.list-a-btn {
  margin-left: 300px;
  background-color: rgb(241, 210, 210);
}